@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Heebo|Indie+Flower|Merriweather|Mountains+of+Christmas|Noto+Serif|Slabo+27px|Work+Sans&display=swap'); 




*
{
    box-sizing: border-box;
}

body,html
{ height: 100%;

}
header,
section
{
overflow-x:hidden;
}


:root{
    --DM:"DM Serif Display",cursive; 
    --Heebo:"Heebo",cursive; 
    --Indie:"Indie Flower",cursive; 
    --Merrie:"Merriweather",cursive; 
    --Mountains:"Mountains of Christmas",cursive; 
    --Noto:"Noto Serif",cursive; 
    --lightblack: #2e2e2e;
    --bggradient: linear-gradient(to bottom,#dd2476,#ff512ff);
    --lightgray: rgba(255,255,255,0);
}

header
{
    background:  #115e75;
}

header a
{
    font-family: var(--Heebo);
    font-size: 0.9em;
    color: whitesmoke;
}

img 
{
    width: 50%;
    height: auto;
}
  


header a
{
    
    font-family: var(--Heebo);
    font-size: 1em;
    color: whitesmoke;
}


/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
  

header .container  h1
{
    padding: 0.5em;
    font-size:2.5vw;
    margin-bottom: 6em;
    color: antiquewhite;
    font-family: var(--Heebo);
    text-align: center;
}


header .container p
{
    
    font-size: 1.5em;
    /*margin-bottom: 17.79em;*/
    font-family: var(--Merrie);
    color: whitesmoke;
    text-justify: auto;
    text-align: center;
    position: relative;
    font-size:2.5vw;
}

.container 
{
    position: relative; 
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
.container .content 
{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 1.5em;; /* Some padding */
}



.responsive
{
    max-width: 100%;
    width:  100%;
    
    height: auto;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
} 

.column
{
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
  /* Clear floats after image containers */
 .row::after 
{
    content: "";
    clear: both;
    display: table;
}


/* section 1 */
.section-1 
{
    padding: 5em;
    background: wheat;
    
}

.section-1 .row .about img
{
    height: auto; 
    width: 75%;
    padding: 2em;
    float: left;;
    max-width: 50%;
    border-radius: 75%;
     
    
     
    
}

.section-1 .row .about h1
{
    
    padding: 0.4em;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    
}

.section-1 .row .about
{
    position: absoulte;
   
    padding: 2em;
   
}

.section-1 .row .about-text
{   
    padding: 1em;
    margin-top: 1.5em;
    font-size: 1.5vw;
    color: brown;
    position: relative;
    text-justify: auto;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
  
}



/* section 2 */
.section-2 
{
    padding: 5em;
    background: aquamarine;
    
    
}

.section-2  .academics img
{
    
    
    column-count: 2; 
    max-height: 50%;
    max-width: 10%;
    
     
    
    
}

.section-2  .academics h1
{
    
    padding: 0.4em;
    font-size: 2.55vw;
    font-weight: bold;
    text-align: center;
    
}

.section-2  .academics
{
    position: absoulte;
   
    padding: 2em;
    border-radius: 2em;
    font-family: var(--Merrie);
    font-size: 1.5vw;
   
}

.section-2  .academicstext
{   
    padding: 1.2em;
    margin-top: 1.5em;
    font-size: 1.5vw;
    color: blueviolet;
    position: relative;
    text-justify: auto;
    text-align: center;
}


/* section 3 */
.section-3 
{
    padding: 5em;
    background-color: lightblue;
}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-3  .prof img
{
    height: auto; 
    width: 100%;
    display: inline-block; 
    
    border-radius: 2em;  
    
}

.section-3 .prof h1
{
    
    padding: 1em;
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    font-family: var(--Mountains);
    
}

.section-3  .prof
{
    position: absoulte;
   
   
    border-radius: 2em;
    font-family: var(--Merrie);
    font-size: 1em;
   
}

.section-3 .proftext
{   
    padding: 1em;
    margin-top: 1.5em;
    font-size: 1.25vw;
    color: #4CAF50;
    position: relative;
    text-justify: auto;
    text-align: center;
    font-family:var(--DM);
}

/* section 4 */
.section-4 
{
    padding: 5em;
    background-color: silver;
    
}

.section-4  .extra img
{ 
    
    height: auto; 
    width: 100%;
    display: inline-block; 
   
     
    
}

.section-4 .extra h1
{
    
    padding: 0.4em;
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    font-family: var(--Mountains);
    
}

.section-4  .extra
{
    position: relative;
    border-radius: 2em;
    font-family: var(--Merrie);
    font-size: 1em;
   
}



.section-4  .extratext
{   
    padding: 2em;
    font-family: var(--Mountains);
    margin-top: 1.2em;
    font-size: 1.5vw;
    color: seagreen;
    position: relative;
    text-justify: auto;
    text-align: center;
}

/*
.section-4 img
{
  border-radius: 50%;
}

/* section-5 */


.section-5 
{
    padding: 3em;
    background-color: burlywood;
    
}

.section-5  h1
{
    
    padding: 0.4em;
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    font-family: var(--Mountains);
    
}
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns 
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }*/


  /* Footer */

  footer
{

    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    padding: 1em;
    height: auto;
    width: auto;
}

  footer h4
{
  color: aliceblue;
  
  font-family: --Merrie;
  text-align: center;
  font-size: 2em;
}

footer p
{
    color: sandybrown;
    text-align: left;
    font-family: var(--Heebo);
}


 

/* Images Align */

.section-4 img 
{
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.section-2 img 
{
    width: 12.5em;
    height: 25em;
    object-fit: cover;
}



/* SlideShow*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
